@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 49, 221, 211;
  --background-rgb: 37, 20, 40;
  --background-start-rgb: var(--background-rgb);
  --background-end-rgb: var(--background-rgb);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
li,
input,
button,
textarea {
  font-family: var(--font-source-sans);
  font-size: 1rem;
  line-height: 1.4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
