@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 49, 221, 211;
  --background-rgb: 37, 20, 40;
  --background-start-rgb: var(--background-rgb);
  --background-end-rgb: var(--background-rgb);
}

html {
  color-scheme: dark;
  font-size: 16px;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p,
li,
input,
button,
textarea {
  font-family: var(--font-source-sans);
  font-size: 1rem;
  line-height: 1.4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  --dot-size: 1.25px;
}

@media (min-width: 640px) {
  main {
    --dot-size: 2px;
  }
}

main {
  --dot-size: 1.25px;
}

@media (min-width: 640px) {
  main {
    --dot-size: 2px;
  }
}

main:after {
  content: '';
  animation: dotScroll 150s linear infinite;
  background-image: radial-gradient(
    circle,
    rgba(var(--foreground-rgb), 0.2) var(--dot-size),
    transparent 0
  );
  background-size: calc(14.2857142857% - 1px) 100px;
  background-position: top right;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  main:after {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  main:after {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

main:after {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (prefers-reduced-motion) {
  main:after {
    animation: none;
  }
}

@media (min-width: 768px) {
  main:after {
    background-size: calc(8.3333333333% - 1px) 140px;
  }
}

main:after {
  position: absolute;
  inset: 0;
  z-index: -10;
}

@keyframes dotScroll {
  0% {
    background-position: bottom left;
  }
  100% {
    background-position: top right;
  }
}
